# Environment Variables

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=your_openai_model

# MongoDB Connection String
MONGO_DB_URI=your_mongodb_connection_string
MONGO_DB_NAME=your_mongodb_database_name

# CORS
CORS_ORIGINS=localhost:5173